body{
    background-color: #F5F5F5;
}
.registration .sign-link{
    float: right;
}
.registration span a{
 color: #e57a00;
 text-decoration: none;
}
.cont-colo{
    background-color: #FFFFFF;
}
.time{
    padding: 10px;
}
.time h6{
    color: #e57a00;
    font-weight: 700;
    letter-spacing: 2px;
}
.author{
    border-left: 1px solid #000000; 
    padding: 10px;
}
.img-container{
    vertical-align: top;
    width: 30%;
    display: inline-block;
}
.img-container img{
    width: 50%;
}
.auther-container{
    width: 70%;
    display: inline-block;
}
.activity-name{
    cursor: pointer;
}
.auther-container h1{
    font-size: 18px;
    color: #555555;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    line-height: 1.71429em;
}
.auther-container h3{
    font-size: 14px;
    color: #787878;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    line-height: 1.71429em;
}
/* hide code */
.detail-content{
    display: none;
}
/* here is code */
.detail{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}
.detail-content{
    display: none;
    width:50%;
	padding:40px;
    position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background-color: #424242;
}
.detail .detail-content{
    display: block;
}
.close{
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 7px;
    width: 40px;
    height: 40px;
    text-align: center;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.3);

}

.detail .detail-content h2{
    color: #fff;
    font-size: 1.3125rem;
}
.detail .detail-content h3{
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.4;
    font-size: 0.875rem;
}
.detail .detail-content p{
    color: #fff;
    font-size: 0.875rem;
}

.author-data-img{
    width: 30%;
    margin-left: 15px;
}
.author-data-img img{
    width: 50%;
}

/* css of signin page */
.slide-color{
    background-color: #457df3;
    color: #fff;
}
.box-shadow{
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.slide-color h2{
    font-size: 1.3125rem;
    font-weight: 500;
    font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
    line-height: 1.16667em;
    padding: 16px;
}

/* code for body */
.signin-container{
    max-width: 400px;
    margin: auto;
}
.container-size{
    margin-top: 16px;
    padding: 16px;
}
form{
    margin: 10px;
}
form input[type=text]{
    width: 100%;
    border: none;
    border-bottom: 1px solid #6c757d; 
}
#email-err{
    display: none;
    color: #ff1744;
    margin: 0;
    font-size: 0.75rem;
    text-align: left;
    margin-top: 8px;
    min-height: 1em;
    font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
    line-height: 1em;
}
form input[type=password]{
    width: 100%;
    border: none;
    border-bottom: 1px solid #6c757d; 
}
#password-err{
    display: none;
    color: #ff1744;
    margin: 0;
    font-size: 0.75rem;
    text-align: left;
    margin-top: 8px;
    min-height: 1em;
    font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
    line-height: 1em;
}
form input:hover{
    border: none;
    border-bottom: 2px solid #000;
}

.email-data{
    padding-left: 10px;
    margin-top: 16px;
    margin-bottom: 8px;
}
.pass-data{
    padding-left: 10px;
    margin-top: 16px;
    margin-bottom: 8px;
}
.label{
    display: none;
    color: #457df3;
}

.forgot{
    color: #457df3;
    padding-left: 10px;
    font-size: 14px;
    font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
    cursor: pointer;
    font-weight: bold;
}
.forgot a{
    text-decoration: none;
    color: #457df3;
}
.forgot:hover{
    color: #155bf0;
}

/* button */
.sub-btn{
    max-width: 100px;
    margin: 32px auto;
    display: block;
}
.sub-btn a{
    text-align: center;
    background-color: #457df3;
    padding: 8px 25px;
    line-height: 1.4rem;
    font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;

}
.sub-btn a:hover{
    background-color:#155bf0;
    color: #fff;
    text-decoration: none;
}

.signin{
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
}

/* social media */
.social-media{
    max-width: 300px;
    margin: 8px auto;
}
.social-media button{
    text-align: center;
    background: none;
    border: none;
    color: #155bf0;
    padding: 8px 16px;
}
.social-media button a{
    color: #155bf0;
}
.social-media button:hover{
    background-color: rgba(69, 125, 243, 0.08);
}
.social-media button a:hover{
    text-decoration: none;
}
/* footer code */
.footer-container{
    max-width: 400px;
    margin: auto;
    text-align: center;
}
.cont-ali{
    margin-bottom: 8px;
}
.cont-ali p{
    color: #bdbdbd;
    font-size: 10px;
    margin-top: 8px;
    font-weight: 400;
    font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
    line-height: 1.46429em;
}


/* css for forgot page */

/* forgot page */
.slide-color{
    background-color: #457df3;
    color: #fff;
}
.box-shadow{
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.arrow{
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    padding-top: 10px;
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}
.arrow a{
    color: #fff;
    font-size: 26px;
}
.forgot-container .arrow:hover{
    border-radius: 50%;
    background-color: #155bf0;
}
.slide-color h2{
    padding-top: 16px;
    font-weight: 500;
    font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
    line-height: 1.16667em;
    width: 90% !important;
    margin-bottom: 0;
}
.vertical-dots{
    position: relative;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 48px;
    width: 48px;
    text-align: center;
}
.vert-dots{
    position: absolute;
    right: 20px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 10px 0px #fff, 0px 20px 0px #fff;
}
.vertical-dots:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #155bf0;
}
.notification{
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 1;
    right: 10px;
    top: 15px;
    border-radius: 4px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.notification ul{
    padding: 20px 0;
}
.notification ul li{
    color: rgba(0, 0, 0, 0.87);
    height: auto;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.5em;
    font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
    white-space: nowrap;
    padding: 10px 10px;
}
.notification ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    height: auto;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.5em;
    font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
    white-space: nowrap;
    padding: 10px 10px;
}
.notification ul li i{
    padding: 5px;
}
.notification ul li:hover{
    background-color: #EBEBEB;
    cursor: pointer;
}

/* body code */
.forgot-main{
    max-width: 400px;
    margin: auto;
    /* border: 1px solid red; */
}
.main-container{
    margin: 30px;
}
form input[type=email]{
    width: 100%;
    border: none;
    border-bottom: 1px solid #6c757d; 
}
.main-container label{
    display: none;
}

/* botton */
.sub-btn{
    max-width: 170px;
    margin: 32px auto;
    display: block;
}
.sub-btn a{
    text-align: center;
    background-color: #457df3;
    padding: 8px 25px;
    line-height: 1.4rem;
    font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;

}
.sub-btn a:hover{
    background-color:#155bf0;
    color: #fff;
    text-decoration: none;
}